#product-detail-container-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;

}


#product-detail-container-navbar-item {
    margin: 20px;
    /* border: 2px solid black; */
    font-size: 22px;
    font-weight: 700;
}



.blackfont {
    color: black;
}

.brownfont {
    color: brown;
}

@media (max-width:400px) {
    #product-detail-container-navbar-item div {
        /* font-weight: 200; */
        font-size: 15px;
        margin: 0px;
    }


}

@media (max-width:300px) {
    #product-detail-container-navbar-item {
        margin: 10px;
    }

    #product-detail-container-navbar-item div {
        /* font-weight: 200; */
        font-size: 13px;
        margin: 5px;


    }
}


@media (max-width:250px) {
    #product-detail-container-navbar-item {

        margin: 5px;
    }

    #product-detail-container-navbar-item div {
        /* font-weight: 200; */
        font-size: 12px;
        margin: 0px;
    }
}